:root {
  --toggle-bg: #C50525;
  --toggle-ball: #000000;
  --background: #000000;
  --background-logo: #fff;
  --text-color: #ffffff;
  --color-red: #C50525;
  --background-box: #111111;
  --text-while: #fff;
}

.toggle {
   width: 60px;
   height: 30px;
   background-color: var(--toggle-bg);
   border-radius: 30px;
   position: relative;
   cursor: pointer;
   transition: background 0.4s;
}

.toggle-ball {
  width: 26px;
  height: 26px;
  background-color: var(--toggle-ball);
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: transform 0.4s;
}

#burger {
  background-color: #C50525;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    background-color: var(--background);
    color: var(--text-color);
    transition: background 0.4s, color 0.4s;
    min-height: 100ph
}

a {
    text-decoration: none;
}
.img-fluid{
  width: 500px;
}
img {
    max-width: 100%;
}
/* .logo-block {
  display: flex;
  gap: 10px;
  align-items: center;
  color: #ffffff;
  font-size: medium;
} */
.wrapper {
  border: none;
  width: 100%;
  background-color: var(--background);
}
.container {
  max-width: 1400px;
  width: 90%;
  margin: 0 auto;
  border-radius: 20px; 
  padding: 40px;
  background-color: var(--background);
}

header {
    padding: 50px 0;
}
header nav {
    float: right;
    width: 50%;
}
.header__burger__btn {
  display: none;
  position: relative;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
}

.header__burger__btn span {
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #ffffff;
  left: 5px;
  transition: transform 0.5s, opacity 0.5s, background-color 0.5s;
}

.header__burger__btn span:nth-child(1){
  transform: translateY(-10px);
}

.header__burger__btn span:nth-child(3){
  transform: translateY(10px);
}

.container.open .header__burger__btn span:nth-child(1){
  transform: translateY(0) rotate(45deg);
}

.container.open .header__burger__btn span:nth-child(2){
  opacity: 0;
}

.container.open .header__burger__btn span:nth-child(3){
  transform: translateY(0) rotate(-45deg);
}


header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    color: var(--text-color);
    text-decoration: none;
}
header nav ul li.active::after {
    content: '';
    display: block;
    width: 40px;
    height: 5px;
    background: var(--color-red);
    border-radius: 10px;
}
header nav ul li:not(.active):not(.btn) a:hover {
    border-bottom: 5px solid var(--color-red);
}
header nav ul li.btn a {
    background-color: var(--color-red);
    padding: 9px 17px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
}

.hero {
    padding-bottom: 100px;
    position: relative;
}
.hero--info{
    width: 530px;
    padding-top: 70px;
}
.hero--info h1 {
    font-size: 50px;
    font-weight: 600;
}
.hero--info p {
    font-weight: 500;
    line-height: 170%;
    margin: 30px 0;
}
.lgn {
    background-color: var(--color-red);
    color:rgb(255, 255, 255);
    border-radius: 50px;
    padding: 15px 30px;
    border: 0;
    transition: all 500ms ease;
    font-size: 17px;
}
.lgn:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.hero img{
    position: relative;
    top: 0px;
    right: 0;
}

/*regist*/
.popup {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.popup.hidden {
  display: none;
}

.popup-content {
  background: #111;
  padding: 40px;
  border-radius: 10px;
  width: 350px;
  color: white;
  position: relative;
}

.popup-content h2 {
  text-align: center;
  color: #C50525;
  margin-bottom: 15px;
}

.popup-content label {
  font-weight: 600;
  display: block;
  margin-top: 10px;
}

.popup-content input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #333;
  background-color: #222;
  color: #fff;
  margin-top: 5px;
}

.popup-content button {
  width: 100%;
  background-color: #C50525;
  color: #000;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-top: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.popup-content button:hover {
  transform: scale(1.05);
}

#closePopup {
  position: absolute;
  top: 10px; right: 15px;
  font-size: 25px;
  cursor: pointer;
  color: #C50525;
}

.error {
  color: #ff4d4d;
  text-align: center;
}

.success {
  color: #C50525;
  text-align: center;
}

/*3*/
#subscribePopup .popup-content {
  background: #0f0f0f;
  border: 2px solid #C50525;
}

#subscribePopup .popup-content h2 {
  color: #C50525;
  text-align: center;
}

#subscribePopup input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #333;
  border-radius: 5px;
  background: #222;
  color: #fff;
}

#subscribePopup button {
  width: 100%;
  background: #C50525;
  color: black;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

#subscribePopup button:hover {
  transform: scale(1.05);
}

#subscribePopup #closeSubscribe {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 25px;
  color: #C50525;
  cursor: pointer;
}
/* 4 */
.color-section {
  text-align: center;
  margin: 100px auto;
  padding: 40px;
  background: var(--background-box);
  border-radius: 15px;
  width: 600px;

}

.color-section h2 {
  color: #fff;
  margin-bottom: 20px;
}

#colorBtn {
  background-color: var(--toggle-bg);
  color: var(--text-while);
  font-weight: 600;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  padding: 15px 30px;
  cursor: pointer;
  transition: 0.4s ease;
}

#colorBtn:hover {
  transform: scale(1.1);
}
/* 5 */
.footer {
  text-align: center;
  margin-top: 100px;
  padding: 40px 0;
  color: white;
  border-top: 1px solid #222;
  font-weight: 500;
  background: var(--background-box);
  border-radius: 15px 15px 0 0;
}

.footer p {
  margin: 5px 0;
  font-size: 16px;
}



body.dark {
  --toggle-bg: #C50525;
  --toggle-ball: #000;
}


body.light .toggle-ball {
  transform: translateX(30px);
}
.hero, .section, .card, header, footer, .wrapper {
  background-color: var(--background);
  color: var(--text-color);
}

#langSelect {
  background-color: var(--color-red);
  color: white; 
  border: none; 
  padding: 10px 20px; 
  border-radius: 5px; 
  font-size: 16px;
}


.home-link {
  font-size: 16px;
  color: rgb(255, 255, 255);
  text-decoration: none;

}

  .player-section {
    text-align: center;
    margin: 50px auto;
    max-width: 400px;
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 15px;
    color: white;
    font-family: "Poppins", sans-serif;
  }

  .player-section h2 {
    color: #C50525;
    margin-bottom: 20px;
  }

  #loadPlayers {
    background: #C50525;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    font-size: 16px;
    color: #003300;
  }

  #loadPlayers:hover {
    transform: scale(1.05);
  }

  #playerList {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
    text-align: left;
    display: inline-block;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding: 10px 20px;
  }

  #playerList li {
    padding: 6px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    transition: 0.3s;
  }

  #playerList li:hover {
    background: rgba(0, 255, 157, 0.2);
  }
  .music-section {
    text-align: center;
    margin: 50px auto;
    max-width: 400px;
    background: var(--background-box);
    padding: 30px;
    border-radius: 15px;
    font-family: "Poppins", sans-serif;
    color: var(--text-while);

  }

  .music-section h2 {
    color: white;
    margin-bottom: 15px;
  }

  #playMusic {
    background: var(--toggle-bg);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    font-size: 16px;
    color: var(--text-while);
  }

  #playMusic:hover {
    transform: scale(1.05);
  }

  .active-music {
    background: #C50525;
  }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


header form {
  width: 190px;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}


.hill_search {
  position: relative;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1.5px solid #C50525;
  border-radius: 100px;
  padding: 10px;
  background: var(--background);
}


header form div input[type="text"] {
  border: none;
  background-color: var(--background);
  color: var(--text-while);
  outline: none;
  width: 100%;
  padding-left: 28px; 
  font-size: 14px;
}


header form div input[type="text"]::placeholder {
  color: var(--text-color);
  opacity: 0.7;
}


header form div input[type="submit"]{
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' preserveAspectRatio='xMidYMid meet'><g transform='translate(0,512) scale(0.1,-0.1)' fill='%23C50525' stroke='none'><path d='M1851 5109 c-657 -74 -1219 -432 -1555 -989 -138 -229 -223 -463 -273 -745 -26 -151 -23 -500 5 -655 120 -657 508 -1187 1087 -1487 310 -160 591 -228 945 -227 431 0 785 107 1145 345 l119 79 696 -693 c469 -468 708 -700 735 -713 54 -25 167 -25 215 0 120 63 175 193 135 317 -17 51 -54 91 -717 755 l-699 701 77 114 c371 548 453 1234 222 1869 -75 208 -219 450 -375 631 -260 300 -628 533 -1005 634 -230 62 -542 89 -757 64z m357 -510 c380 -41 677 -182 943 -448 271 -271 415 -579 451 -963 32 -343 -60 -693 -263 -998 -84 -127 -282 -325 -409 -409 -512 -341 -1143 -359 -1664 -47 -376 224 -641 602 -728 1039 -32 160 -32 414 0 574 90 451 367 835 767 1062 267 152 604 223 903 190z'/></g></svg>") no-repeat center;
  background-size: cover;
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
  margin-left: 5px;
}

header form div input[type="submit"]:hover {
  filter: brightness(1.3);
}


.spinner {
  position: absolute;
  left: 10px; 
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  border: 2px solid #fff;
  border-top: 2px solid #C50525;
  border-radius: 50%;
  animation: spin 0.7s linear infinite;
  display: none;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}


#counter {
  background-color: var(--background-box);
  font-size: 40px;
  color: white;
  text-align: center;
  margin: 50px auto;
  font-weight: bold;
}

.copy-btn {
  background: #C50525;
  color: #000;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}
.copy-btn:hover {
  transform: scale(1.05);
}

.club-images {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40px;
}

.club-images img {
  border-radius: 15px;
  filter: blur(10px);
  transition: filter 0.6s ease, transform 0.3s;
}

.club-images img.loaded {
  filter: blur(0);
  transform: scale(1.03);
}

header, .hero, section, footer {
  background-color: transparent; 
  color: var(--text-color);
}

.faq-conteiner {
  width: 100%;
  background-color: var(--background-box);
  border-radius: 10px;
  padding: 30px;
  margin: 80px auto;
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}
.faq-conteiner ::marker {
  color: #fff;
}

.faq-conteiner details{
  border-radius: 10px;
  background-color: var(--background-box);
  width: 70%;
  border-radius: 0.5rem;
}

.faq-conteiner summary{
  background-color: #C50525;
}
.faq-conteiner article{
  background-color: #fff;
  color: #000;
  padding: 5px;
}
body.light {
  --background: #ffffff;
  --background-box: #C50525;
  --text-color: #000000;
  --toggle-bg: #ddd;
  --toggle-ball: #000;
  --background-logo: #000;
  --text-while: #C50525;
}