/* 
 >=1200
 992 - 1199
 768 - 991
 576 - 768
 460 - 576
 414 - 460
 375 - 414
 320 - 375
*/

@media screen and (max-width: 1200px){
    .club-info {
       width: 66%;
    }
}
@media screen and (max-width: 1080px) {
    .box-right {
        max-width: 308px;
    }
    .img-liver {
        width: 270px;
    }
}
@media (max-width: 1000px) {
    .header__burger__btn {
        display: block;
        z-index: 3;
    }
    .menu{
        display: block;
        position: absolute;
        left: -300px;
        top: 0;
        background-color: #C50525;
        width: 300px;
        height: 100vh;
        z-index: 2;
        transition: transform .5s;
    }
    .img-logo {
        width: 64px;
        height: 64px;
    }
    .h {
        padding: 30px 0px 0px 123px;
        display: block;
    }
    nav a {
        display: block;
        margin: 15px 0;
        color: white;
        text-decoration: none;
    }
    header.open .menu {
        transform: translateX(100%);
    }
}
@media (max-width: 700px){
    .club-right{
        display: none;
    }
    .club-info {
        width: 100%;
    }
}
@media (max-width: 490px){
    .logo-block h1 {
        font-size: 1.2em;
    }
}
@media (max-width: 400px){
    .img-right {
        width: 290px;
    }
}
@media (max-width: 380px){
    header{
        padding: 0 24px 0 39px;
    }
}
