/* 
375v667
414v896
390v844
430v932
412v915
360v740
768v1024
820v1180
1024v1366
*/

@media (max-width: 1000px) {
    .header__burger__btn {
        display: block;
        z-index: 2;
    }
    .menu{
        position: absolute;
        left: -200px;
        top: 0;
        background-color: rgb(0, 0, 0);
        width: 200px;
        z-index: 1;
        padding: 52px 20px 20px 20px;
        transition: transform .5s;
    }
    .menu .ul {
        display: block;
    }
    .menu .ul .li {
        padding: 5px
    }
    .lgn {
        margin: 10px;
    }
    nav.menu ul {
    display: block;
    text-align: center;
    }

    nav.menu ul li {
        display:block;
        margin: 10px 0; 
    }
    .menu {
        color: white;
        font-size: 21px;
    }

    .container.open .menu {
        transform: translateX(100%);
    }
}

@media (max-width: 375px) {
    .img-fluid{

    }
}