/* 
375v667
414v896
390v844
430v932
412v915
360v740
768v1024
820v1180
1024v1366
*/
@media (max-width: 1400px) {
    .faq-conteiner{
        max-width: 1150px;
    }
    .music-section {
        max-width: 1150px;
    }
}
@media (max-width: 1200px) {
    .faq-conteiner{
        max-width: 965px;
    }
    .music-section {
        max-width: 965px;
    }
}
@media (max-width: 1000px) {
    .header__burger__btn {
        display: block;
        z-index: 2;
    }
    .menu{
        position: absolute;
        left: -500px;
        top: 0;
        background-color: rgb(0, 0, 0);
        width: 500px;
        height: 100vh;
        position: fixed;
        z-index: 1;
        padding: 52px 20px 20px 20px;
        transition: transform .5s;
    }
    .menu ul{
        flex-direction: column;
        margin: 83px 29px 0px 44px;
    }
    .menu ul li {
        margin: 10px;
    }
    header nav ul li a {
        color: white;
    }
    .menu {
        color: white;
        font-size: 21px;
    }

    .container.open .menu {
        transform: translateX(100%);
    }
}
@media (max-width: 998px) {
    .faq-conteiner{
        max-width: 720px;
    }
    .music-section {
        max-width: 720px;
    }
}
@media (max-width: 768px) {
    .img-fluid {
        margin: 10px 0px 0 0;
    }
    .faq-conteiner{
        max-width: 541px;
    }
    .music-section {
        max-width: 541px;
    }
}
@media (max-width: 576px) {
    .faq-conteiner{
        max-width: 590px;
    }
    .music-section {
        max-width: 590px;
    }
}
@media (max-width: 555px) {
    .menu {
        left: -300px;
        width: 300px;
    }
}
